body {
  background: url(https://d1ysc6vyfexqcb.cloudfront.net/front/img/blissinvite-background-04.jpg) #eee no-repeat 50% 0;
  margin-top: 80px;
  padding-bottom: 40px;
}
body.detail {
  background-position: 50% -300px;
}
.grey {
  color: #acacac;
}
#how-does-it-work {
  padding: 5px 0;
  color: #fff;
}

/* NAVBAR
-------------------------------------------------- */

.navbar-inverse .nav > li > a {
  color: #fff !important;
  text-shadow: none !important;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #047575;
}

.navbar-inverse .nav > li > a:hover {
  color: #047575 !important;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-inner {
  background-color: #7ccaca;
  background-image: -moz-linear-gradient(top, #7ccaca, #6bb4b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ccaca), to(#6bb4b4));
  background-image: -webkit-linear-gradient(top, #7ccaca, #6bb4b4);
  background-image: -o-linear-gradient(top, #7ccaca, #6bb4b4);
  background-image: linear-gradient(to bottom, #7ccaca, #6bb4b4);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .btn-navbar {
  background-color: #047575;
  *background-color: #047575;
  background-image: -moz-linear-gradient(top, #047575, #025d5d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#047575), to(#025d5d));
  background-image: -webkit-linear-gradient(top, #047575, #025d5d);
  background-image: -o-linear-gradient(top, #047575, #025d5d);
  background-image: linear-gradient(to bottom, #047575, #025d5d);
  background-repeat: repeat-x;
  border-color: #025d5d #025d5d #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .btn-navbar:hover, 
.navbar-inverse .btn-navbar:active, 
.navbar-inverse .btn-navbar.active, 
.navbar-inverse .btn-navbar.disabled, 
.navbar-inverse .btn-navbar[disabled] {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 4, 4);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 10px 20px 10px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 8px 15px;
  margin: 9px 0;
}

.navbar .nav > li.active > a {
  background-color: #047575;
  *background-color: #047575;
  background-image: -moz-linear-gradient(top, #047575, #025d5d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#047575), to(#025d5d));
  background-image: -webkit-linear-gradient(top, #047575, #025d5d);
  background-image: -o-linear-gradient(top, #047575, #025d5d);
  background-image: linear-gradient(to bottom, #047575, #025d5d);
  background-repeat: repeat-x;
  border-color: #025d5d #025d5d #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}


/* Custom container */
.container {
  margin: 0 auto;
  max-width: 940px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0 15px;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#intro {
  min-height: 370px;
}
#intro h1 {
  font-size: 4.8em;
  line-height: 1.3em;
  margin: 0 10px 35px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
/*
#intro #get-started {
  background: rgba(255, 255, 255, 0.3);
  padding: 90px 0 70px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
*/
#intro a.btn p {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 24px;
  padding-bottom: 5px;
}
#intro a.btn span {
  font-size: 16px;
}

#signup {
  text-align: center;
}
#signup .input-xlarge {
  font-size: 17.5px !important;
  padding: 11px 6px !important;
  margin-right: 7px;
  width: 330px;
}
#how-this-works {
  text-align: center;
}
#how-this-works h1 {
  text-align: left;
  margin-bottom: 60px;
}
#how-this-works h3 {
  font-weight: 300;
}
#how-this-works img {
  width: 170px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-wrapper {
    margin-top: 0px;
  }
  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left, 
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background-position: 58% 0;
    margin-top: 50px;
  }
  .navbar-wrapper {
    margin-top: 0px;
  }
  #top {
    padding: 5px 0 0;
    text-align: center;
  }
  #top #logo {
    padding: 0 0 10px 0;
  }
  #intro h1 {
    margin: 20px 0 40px;
    font-size: 2.8em;
  }
  .jumbotron {
    margin: 50px 0 20px;
  }
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left, 
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
